<div class="panel-heading panel-info panel">
    <b>RECENT CHAT HISTORY</b>
</div>
<div style="margin: 20px 0">
	<p><strong>Name:</strong>
	  <%= @chatroom.name %></p>


<ul class="media-list">

	<div class="scrollable" style=" max-height: 350px; overflow: auto;" id="message_dialog">
<<<<<<< HEAD
		<% @chatroom.messages.includes(:user).limit(50).each do |message| %>
			<%= render message %>
		<% end %>
		<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' style="padding: 10px;" >
			
<li class="media">

    <div class="media-body">

        <% if @chatroom.messages.any? and params[:message] %>
            <div class="media">
             <% if @chatroom.messages.last.user.avatar.url.present? %>
                <a class="pull-left" href="#">
                    <img class="media-object img-circle " src= <%= @chatroom.messages.last.user.avatar.url(:thumb) %> style="width: 64px; height: 64px;" />
                </a>
            <% else %>
                <a class="pull-left" href="#">
                    <img class="media-object img-circle " src= "http://res.cloudinary.com/dfg9corup/image/upload/c_scale,h_64,w_64/v1492883786/anonymous_tswtq8.png" style="width: 64px; height: 64px;" />
                </a>
            <% end %>
            <div class="media-body" >
                <%= @chatroom.messages.last.body %>
                <br />
               <small class="text-muted" ><%= @chatroom.messages.last.user.username %> |  <%= @chatroom.messages.last.created_at.to_formatted_s(:short) %></small>
                <hr />
            </div>
        </div>
        <% end %>

    </div>

</li>



=======
		<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' style="padding: 10px;" >
			<% @chatroom.messages.limit(100).each do |message| %>
					<%= render message %>
			<% end %>
>>>>>>> 6285d24... add avatar
		</div>
	</div>

</ul>


    <div class="panel-footer">
        <div class="input-group col-md-12 col-sm-12 col-xs-12">
        <%= form_for [@chatroom, Message.new], remote: true do |f| %>
			<%= f.text_area :body, rows: 2, class: "form-control", autofocus: true, placeholder: "Your messages here..." %>
		<% end %>
        </div>
    </div>
</div>