<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    	<div class="container-fluid" style="margin: 50px 0;">
    		<div class="row">
          <div class="col-md-2 col-sm-12" style="float: left; margin: 0;">
            <% if user_signed_in? %>
              <h5><b>Chatrooms</b></h5>
              <ul>
                <% current_user.chatrooms.each do |chatroom| %>
                  <li class="col-sm-12"><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="col-md-10 col-md-offset-2 col-sm-12" style="float: left;margin: 0;">
            <%= yield %>
          </div> 
        </div>
    	</div>
    <%= render 'shared/footer' %>
  </body>
</html>
